<hgroup>
  <h1>Ladenlokal im H²Hotel</h1>
  <p>Vermieter <span>Max Muster</span></p>
</hgroup>
<img />
<p>
  138m²<br />
  seit dem 01.05.2025
</p>
<address>
  Bahnhofsstraße 6b<br />
  66111 Saarbrücken
</address>
<table>
  <tbody>
    <tr>
      <th>Miete pro Tag</th>
      <td>101,00 €</td>
    </tr>
    <tr>
      <th>Miete pro Woche</th>
      <td>700,00 €</td>
    </tr>
    <tr>
      <th>Miete pro Monat</th>
      <td>2700,00 €</td>
    </tr>
    <tr>
      <th>Betriebskosten pro Tag</th>
      <td>9,67 €</td>
    </tr>
  </tbody>
</table>
<article>
  <h2>Vorschläge</h2>
  <ul>
    <li>...</li>
  </ul>
</article>
