:host {
  display: grid;
  grid-template-areas: "header header" "image image" "details address" "table table" "ideas ideas";
  gap: var(--spacing-2x);
}

hgroup {
  grid-area: header;
}

span {
  color: var(--text-color-accent);
}

address {
  grid-area: address;
}

p {
  grid-area: details;
}

img {
  grid-area: image;
  width: 100%;
  aspect-ratio: 2/1;
  background-color: var(--color-accent);
  object-fit: fill;
}

table {
  grid-area: table;
  th {
    text-align: left;
  }

  td {
    text-align: right;
  }
}

article {
  grid-area: ideas;
}
