<hgroup>
  <h1>Anfragen</h1>
  <p>2</p>
</hgroup>
<article>
  <hgroup>
    <h2>Haus der Zusammenkunftr</h2>
    <p>Schlossallee 27, 66111 Saarbrücken</p>
  </hgroup>
  <ul>
    <li>angefragt durch <span>Elise Line</span></li>
    <li>Uservotes<span>123</span></li>
    <li>Uservorschlag <span>x</span></li>
    <li>
      <span>17.01.2015</span> bis
      <span>10.02.2015</span>
    </li>
  </ul>
  <menu>
    <li>
      <button>yes</button>
    </li>
    <li>
      <button>message</button>
    </li>
    <li>
      <button>no</button>
    </li>
  </menu>
</article>
