<hgroup>
  <h1>Anfragen</h1>
  <p>2</p>
</hgroup>
<article>
  <hgroup>
    <h2>Haus der Zusammenkunft</h2>
    <p>Schlossallee 27, 66111 Saarbrücken</p>
  </hgroup>
  <ul>
    <li>angefragt durch <span>Elise Line</span></li>
    <li>Uservotes <span>123</span></li>
    <li>
      <span>17.01.2015</span> bis
      <span>10.02.2015</span>
    </li>
    <li>Uservorschlag <span>x</span></li>
  </ul>
  <menu>
    <li>
      <button>
        <img src="icons/thumb.png" />
      </button>
    </li>
    <li>
      <button>
        <img src="icons/mail.png" />
      </button>
    </li>
    <li>
      <button>
        <img src="icons/redthumb.png" />
      </button>
    </li>
  </menu>
</article>
