<hgroup>
  <h1>Verträge</h1>
  <p>3</p>
</hgroup>
<ol>
  <li>
    <article>
      <hgroup>
        <h2>Karstadt 1.OG 270 QM</h2>
        <p>Bahnhofsstraße 42, 6111 Saarbrücken</p>
      </hgroup>
      <p>
        angemietet durch <span>DrAnon, i.A. DRK</span><br />
        <span>25.04.2025</span> bis <span>27.05.2025</span>
      </p>
      <p>Nutzung <span>Blutspendeaktion</span></p>
      <p>
        Gesamtmiete inkl. Betriebskosten<br />
        412,00 €
      </p>
      <menu>
        <li>
          <button type="button">
            <img src="icons/pdfico.png" />
          </button>
        </li>
        <li>
          <button type="button">
            <img src="icons/mail.png" />
          </button>
        </li>
      </menu>
    </article>
  </li>
</ol>
