<img />
<h1>RE<span>.</span>LEASE</h1>
<form (submit)="onLogin($event)">
  <label>
    E-Mail-Adresse
    <input
      type="email"
      name="email"
      placeholder="max.musterm@leer.gut"
      required
    />
  </label>
  <label>
    Passwort
    <input type="password" name="password" placeholder="********" required />
  </label>
  <button type="submit" class="button cta">Anmelden</button>
  <p>oder nutze deine Socials</p>
  <menu>
    <li>
      <button>A</button>
    </li>
    <li>
      <button>G</button>
    </li>
    <li>
      <button>F</button>
    </li>
    <li>
      <button>X</button>
    </li>
  </menu>
</form>
<nav>
  <a routerLink="/forgot-password">Passwort<br />vergessen</a>
  <a routerLink="/register">
    Noch nicht dabei?<br />
    <span>Jetzt</span> registrieren
  </a>
</nav>
