:host {
  display: block;
}

form {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: var(--spacing-1x) var(--spacing-05x);
  background-color: var(--color-primary-alt);
  padding: var(--spacing-2x);
  border-radius: var(--spacing-2x);
  width: max-content;
  margin: var(--spacing-1x) auto 0;

  & label {
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
  }

  & button {
    grid-column: span 2;
  }
}
