:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

header {
  height: max-content;
  background-color: var(--color-accent);
  color: var(--text-color-on-accent);

  & nav {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-1x);
  }
}

main {
  flex: 1;
  background-color: var(--color-primary);
  color: var(--text-color);
}

footer {
  height: max-content;
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
}

.fullscreen-map,
app-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}
