:host {
  display: grid;
  grid-template-areas: "header" "main" "nav" "footer";
  grid-template-rows: min-content 1fr max-content min-content;
  width: 100vw;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: var(--color-primary);
  color: var(--text-color);
  text-align: center;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing-2x);
  padding: var(--spacing-1x);
  background-color: var(--color-primary-alt);
  color: var(--text-color-accent);
}

main {
  grid-area: main;
  background-color: var(--color-primary);
  color: var(--text-color);
  padding: var(--spacing-2x);
}

footer {
  grid-area: footer;
  background-color: var(--color-primary-alt);
  color: var(--color-on-secondary);
  text-align: center;
}

.fullscreen-map,
app-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}
