:host {
  display: grid;
  grid-template-areas: "header" "main" "nav" "footer";
  grid-template-rows: min-content 1fr max-content min-content;
  width: 100vw;
  height: 100vh;

  &:has(app-login),
  &:has(app-register) {
    grid-template-rows: 0 1fr 0 0;
  }
}

header {
  grid-area: header;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-1x);

  & img {
    background-color: var(--color-primary-alt);
    width: 10vw;
    aspect-ratio: 1/1;
    border-radius: 999px;
  }

  & a {
    color: var(--text-color);
  }
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing-2x);
  padding: var(--spacing-1x);
  background-color: var(--color-primary-alt);
  color: var(--text-color-accent);

  & a {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-025x);
    justify-content: center;
    align-items: center;

    & img {
      object-fit: contain;
      width: var(--spacing-2x);
      aspect-ratio: 1/1;
    }

    & span {
      font-size: var(--font-size-s);
      color: var(--text-color);
    }
  }
}

main {
  grid-area: main;
  background-color: var(--color-primary);
  color: var(--text-color);
  padding: var(--spacing-2x);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

footer {
  grid-area: footer;
  background-color: var(--color-primary-alt);
  font-size: var(--font-size-s);
  color: var(--text-color);
  text-align: center;
}

.fullscreen-map,
app-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}
