:host {
  display: grid;
  grid-template-areas: "image" "user" "nav";
  gap: var(--spacing-2x);

  & > img {
    grid-area: image;
    width: 25vw;
    aspect-ratio: 1/1;
    background-color: var(--color-accent);
    justify-self: center;
    border-radius: 999px;
  }
}

hgroup {
  grid-area: user;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-05x);

  & h1 {
    font-size: var(--font-size-l);

    & a {
      font-size: inherit;
      color: var(--text-color-accent);

      & img {
        object-fit: contain;
        width: var(--spacing-1x);
        aspect-ratio: 1/1;
      }
    }
  }

  & p {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-05x);
    font-size: var(--font-size-s);

    & span {
      & img {
        object-fit: contain;
        width: var(--font-size-m);
        aspect-ratio: 1/1;
      }
    }
  }
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1x);

  & a {
    font-size: var(--font-size-l);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-05x);

    & img {
      object-fit: contain;
      width: var(--font-size-l);
      aspect-ratio: 1/1;
    }
  }
}
