<hgroup>
  <h1>
    Max Muster
    <a routerLink="/mailbox">
      <img src="icons/mail.png" />
    </a>
  </h1>
  <p>
    Landlord
    <span><img src="icons/location2f.webp" /> Saarbrücken</span>
  </p>
</hgroup>
<img src="img/profil.png" />
<nav>
  <a routerLink="/map"><img src="icons/locationF.webp" /> Karte</a>
  <a routerLink="/requests"><img src="icons/home.png" /> Anfragen</a>
  <a routerLink="/contracts"><img src="icons/contract.png" /> Verträge</a>
  <a routerLink="/favorites"><img src="icons/image5_f.webp" /> Favoriten</a>
  <a routerLink="/settings"><img src="icons/gearF.webp" /> Einstellungen</a>
</nav>
