<form>
  <label>
    <input type="text" placeholder="Immobilien finden" />
  </label>
  <button type="submit" class="button cta">Suchen</button>
</form>
<h2>Kategorien</h2>
<menu>
  <li>
    <button type="button">
      <span>icon</span>
      Popup Store
    </button>
  </li>
  <li>
    <button type="button">
      <span>icon</span>
      Event Location
    </button>
  </li>
  <li>
    <button type="button">
      <span>icon</span>
      Büroräume
    </button>
  </li>
</menu>
<ul>
  <li>
    <a routerLink="/">
      <img />
      <h3>Gebäude 1</h3>
      <p>Preis</p>
    </a>
  </li>
  <li>
    <a routerLink="/">
      <img />
      <h3>Gebäude 1</h3>
      <p>Preis</p>
    </a>
  </li>
</ul>
