.default-theme {
  --color-accent: #54b16a;
  --color-primary: #121419;
  --color-primary-alt: #292b2f;

  --text-color-accent: var(--color-accent);
  --text-color: #fff;

  --input-background: #e4e4e4;
  --input-color: #8c8c8c;

  --border-color: #b7b7b7;

  --color-positive: lime;
  --color-on-positive: black;
  --color-information: blue;
  --color-on-information: white;
  --color-critical: orange;
  --color-on-critical: black;
  --color-negative: red;
  --color-on-negative: white;
}
