<h1>Suche nach</h1>
<input type="text" placeholder="12m²" />
<h2>17 Treffer</h2>
<ol>
  <li>
    <a routerLink="/property">
      <hgroup>
        <h3>Ladenlokal im H²Hotel</h3>
        <p>seit dem 01.05.2025 leerstehend</p>
      </hgroup>
      <button type="button">&lt;3</button>
      <img />
      <ol>
        <li>+ 21 Popup Store</li>
        <li>+ 7 Begegnungsstätte</li>
      </ol>
      <p>
        <span>138m²</span><br />
        Miete pro Tag: 101 €
      </p>
      <button type="button">...</button>
    </a>
  </li>
</ol>
