<h1>Suche nach</h1>
<input type="text" placeholder="12m²" />
<h2>17 Treffer</h2>
<ol>
  <li>
    <a routerLink="/property">
      <hgroup>
        <h3>Ladenlokal im H²Hotel</h3>
        <p>seit dem 01.05.2025 leerstehend</p>
      </hgroup>
      <button type="button">
        <img src="icons/image5_f.webp" />
      </button>
      <img src="img/bild3.jpg" />
      <ol>
        <li>+ 21 Popup Store</li>
        <li>+ 7 Begegnungsstätte</li>
      </ol>
      <p>
        <span>138m²</span><br />
        Miete pro Tag: 101 €
      </p>
      <button type="button">...</button>
    </a>
  </li>
  <li>
    <a routerLink="/property">
      <hgroup>
        <h3>Ehemaliges Cara</h3>
        <p>ab dem 07.07.2025 leerstehend</p>
      </hgroup>
      <button type="button">
        <img src="icons/image5_f.webp" />
      </button>
      <img src="img/bild4.jpg" />
      <ol>
        <li>+ 57 Jugendclub</li>
        <li>+ 21 Wein- und Eventbar</li>
      </ol>
      <p>
        <span>81m²</span><br />
        Miete pro Tag: 32 €
      </p>
      <button type="button">...</button>
    </a>
  </li>
  <li>
    <a routerLink="/property">
      <hgroup>
        <h3>Dachgeschoss</h3>
        <p>seit 01.05.2025 leerstehend</p>
      </hgroup>
      <button type="button">
        <img src="icons/image5_f.webp" />
      </button>
      <img src="img/bild2.jpg" />
      <ol>
        <li>+ 12 Asta-Party</li>
      </ol>
      <p>
        <span>35m²</span><br />
        Miete pro Tag: 10 €
      </p>
      <button type="button">...</button>
    </a>
  </li>
</ol>
