:host {
  display: block;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "image image" "header header" "form form" "links links";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content max-content 1fr max-content;
  gap: var(--spacing-1x) var(--spacing-05x);

  & > img {
    grid-area: image;
    width: 25vw;
    justify-self: center;
    aspect-ratio: 1/1;
  }
}

h1 {
  grid-area: header;
  font-size: var(--font-size-l);
}

span {
  font-size: inherit;
  color: var(--text-color-accent);
}

form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1x);

  & label {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-025x);
  }

  & p {
    align-self: center;
    font-size: var(--font-size-s);
  }

  & menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1x);
    color: var(--text-color-accent);

    & img {
      object-fit: contain;
      width: var(--spacing-2x);
      aspect-ratio: 1/1;
    }
  }
}

nav {
  grid-area: links;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}
