<img src="icons/Leergut_grun.png" />
<h1>RE<span>.</span>LEASE</h1>
<form>
  <label>
    E-Mail-Adresse
    <input
      type="email"
      name="email"
      placeholder="max.musterm@leer.gut"
      required
    />
  </label>
  <label>
    Passwort
    <input type="password" name="password" placeholder="********" required />
  </label>
  <label>
    Passwort wiederholen
    <input type="password" name="password" placeholder="********" required />
  </label>
  <button type="submit" class="button cta">Registrieren</button>
  <p>oder nutze deine Socials</p>
  <menu>
    <li>
      <button type="button">
        <img src="icons/Apple-logo-white-png.png" />
      </button>
    </li>
    <li>
      <button type="button">
        <img src="icons/google-logo.png" />
      </button>
    </li>
    <li>
      <button type="button">
        <img src="icons/facebook-new.png" />
      </button>
    </li>
    <li>
      <button type="button">
        <img src="icons/X_logo_2023_(white).png" />
      </button>
    </li>
  </menu>
</form>
<nav>
  <a routerLink="/login">
    Schon dabei?<br />
    <span>Jetzt</span> einloggen
  </a>
</nav>
