<img />
<h1>RE<span>.</span>LEASE</h1>
<form>
  <label>
    E-Mail-Adresse
    <input
      type="email"
      name="email"
      placeholder="max.musterm@leer.gut"
      required
    />
  </label>
  <label>
    Passwort
    <input type="password" name="password" placeholder="********" required />
  </label>
  <label>
    Passwort wiederholen
    <input type="password" name="password" placeholder="********" required />
  </label>
  <button type="submit" class="button cta">Registrieren</button>
  <p>oder nutze deine Socials</p>
  <menu>
    <li>
      <button>A</button>
    </li>
    <li>
      <button>G</button>
    </li>
    <li>
      <button>F</button>
    </li>
    <li>
      <button>X</button>
    </li>
  </menu>
</form>
